[project]
name = "src"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "inquirer>=3.4.1",
    "pytest>=9.0.1",
    "rich>=14.2.0",
]
